.text_center{
    text-align: center;
}
.gopancho{
    display: flex;
    height: 100vh;
}
.gopancho > div{
    margin: auto;
}
.form_styles{
    display: block;
    width: 100%;
    height: 50px;
    margin: 16px 0px;
    padding: 0px .75rem;
    font-size: 1rem;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}